/* Login.module.css */

/* Container for the entire form */

.formWrapper{

    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Individual form */
  .form {
    
    width:30vw;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Header styling */
  .header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #3498db; /* Header color */
  }
  
  /* Styling for form fields */
  .field {
    margin-bottom: 20px;
  }
  
  .input,
  .password {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Styling for the "Forgot password" link */
  .forgotPass {
    color: #3498db; /* Link color */
    text-decoration: none;
  }
  
  /* Styling for the registration button */
  .button {
    width: 100%;
    padding: 12px;
    background-color: #3498db; /* Button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #2575a8; /* Button color on hover */
  }
  
  /* Styling for the "Don't have an account" link */
  .link {
    color: #3498db; /* Link color */
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Styling for the media options (Facebook and Google buttons) */
  .mediaOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .facebook,
  .google {
    width: 100%;
    padding: 12px;
    background-color: #fff;
    color: #555; /* Button text color */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .facebook:hover,
  .google:hover {
    background-color: #f9f9f9;
  }
  