.heroSection{
    display: flex;
    justify-content: space-between;
    padding-top:1.5rem ;
}
.heroSectionRightSide{
    line-height: 1.5rem;
    padding: 6rem 0;
}
.heroSectionRightSide h2{
    padding: 4rem 0;
}
.button{
   margin-top: .6rem; 
}
.heroMiddle{
    text-align: center;
    padding: 2rem 0;
}
.whyHalal{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

}
.childwhyHalal{
    padding: 1.5rem;
    text-align: center;
    height: auto;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.childwhyHalal span{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: green;
    color: white;
    text-align: center;
}